*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'PT Sans';
}


#plus a{
    padding: 50px;
    color: #3481d0;
    font-size:40px;
    text-decoration: none;
}
nav{
    padding-bottom: 20px;
    width: 95vw;
    margin: auto;
    border-bottom: 1px solid lightgrey
}

.nav-albums{
    float:left;
 
}

.see-all a{
    text-decoration: none;
    color: #3481d0;
    float: right;

}

nav:after{
    clear: both;
    content: "";
    display: table;
}



p{
    color: grey;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}


.gallery img {
    width: 100%;
    max-width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  
  