.container{
    background-color:green;
    height: 200px;
    width: 800px;
}

.blue{
    background-color:blue;
    height: 100px;
    width: 100px;
    display:inline-block;
}

.square1, .square2{
      position:relative;
}

.red{
    background-color:red;
    height: 10px;
    width: 10px;
}

.s1{
  position: absolute;
  left:90px;
  top:90px;
}

.s3{
  position: absolute;
  left:5px;
  top:10px;
}
